$default-family: 'Open Sans', sans-serif;
$default-font-size: 14px;
$primary: #2b5a8a;
$secondary: #41b883;

$vuejs: #4FC08D;
$react: #61DBFB;
$bootstrap: #7952B3;
$typescript: #3178C6;
$nuxt: #41b883;
$tailwind: #52b3d0;
$sass: #b91678;
$express: #303030;
$mongodb: #6DB33F;
$mysql: #00ADD8;
$go: #29beb0;
$docker: #2496ED;
$py: #306998;
$arduino: #73c9ef;
$figma: #995cf6;
$js: #F7DF1E;
$xd: #400835;

@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");