$default-family: 'Poppins', sans-serif;
$default-font-size: 14px;
$primary: #2b5a8a;
$secondary: #41b883;

$vuejs: #4FC08D;
$react: #61DBFB;
$bootstrap: #7952B3;
$typescript: #3178C6;
$nuxt: #41b883;
$tailwind: #52b3d0;
$sass: #b91678;
$express: #303030;
$mongodb: #6DB33F;
$mysql: #00ADD8;
$go: #29beb0;
$docker: #2496ED;
$py: #306998;
$arduino: #73c9ef;
$figma: #995cf6;
$js: #745c1e;
$xd: #400835;

@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');